* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  .temp-div-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }
  .icon {
    width: auto;
    height: auto;
  }

  .hero {
    background-image: linear-gradient(to right, rgb(0,143,210),rgb(171, 19, 241))
  }

  .container, #article-style {
    margin: 0px;
  }

  .field:not(:last-child) {
      margin: 0px;
  }
  .field {
    margin: 0px;
    padding: 0px;
  }
  .button {
    cursor: pointer;
    width: 100%;
    box-shadow: 0 2px #999;
  }
  .button:hover {
    background-color: rgb(37, 190, 152);
  }
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
  .field-padding {
      margin-bottom: 7px;
  }
  /* #message {
    visibility: hidden;
  } */
  #main-body {
    margin: 10px;
  }
  #results-main {
    display: flex;
    flex-flow: column nowrap;
  }
  #results-weather {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
  }
   #results-weather2 {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    font-size: 25px;
  } 
   #results-weather22 {
    display: flex;
    flex-flow: row nowrap;
    font-size: 17px;
    width: 100%;
  } 
  .temp-div-box2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
  }

  #results-w-day0 > * {
    padding: 15px;
  } 

  .temp-div-box22 {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  .temp-div-box22 > * {
    padding: 10px;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;

  }

  h3 {
    font-size: 25px;
    text-align: center;
  }

  @media screen and (max-width: 1200px) {
    #results-weather2 {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        font-size: 25px;
      } 
       #results-weather22 {
        display: flex;
        flex-flow: row nowrap;
        font-size: 15px;
        width: 100%;
      } 
    h2 {
        font-size: 32px;
        font-weight: bold;
    
      }
      h3 {
        font-size: 20px;
        text-align: center;
      }
  }

  @media screen and (max-width: 1150px) {
    #results-weather2 {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        font-size: 19px;
      } 
       #results-weather22 {
        display: flex;
        flex-flow: row nowrap;
        font-size: 12px;
        width: 100%;
      } 
    h2 {
        font-size: 20px;
        font-weight: bold;
      }
    
      h3 {
        font-size: 16px;
        text-align: center;
      }
  }
  
  @media screen and (max-width: 640px) {
    #results-weather2 {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        font-size: 25px;
      } 
       #results-weather22 {
        display: flex;
        flex-flow: row nowrap;
        font-size: 17px;
        width: 100%;
      } 
    h2 {
        font-size: 32px;
        font-weight: bold;
      }
    
      h3 {
        font-size: 25px;
        text-align: center;
      }
  }
  

