* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  .temp-div-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }
  .icon {
    width: auto;
    height: auto;
  }

  .hero {
    background-image: linear-gradient(to right, rgb(0,143,210),rgb(171, 19, 241))
  }

  .container, #article-style {
    margin: 0px;
  }

  .field:not(:last-child) {
      margin: 0px;
  }
  .field {
    margin: 0px;
    padding: 0px;
  }
  .button {
    cursor: pointer;
    width: 100%;
    box-shadow: 0 2px #999;
  }
  .button:hover {
    background-color: rgb(37, 190, 152);
  }
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
  .field-padding {
      margin-bottom: 7px;
  }
  /* #message {
    visibility: hidden;
  } */
  

