* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  .temp-div-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }
  .icon {
    width: auto;
    height: auto;
  }

  .hero {
    background-image: linear-gradient(to right, rgb(0,143,210),rgb(171, 19, 241))
  }

  .container, #article-style {
    margin: 0px;
  }
  .field {
    margin: 0px;
    padding: 5px;
    margin-bottom: 0px;
  }
  .field:not(:last-child) {
      margin: 0px;
  }
  .button {

    width: 100%;

  }
